In [ ]:
import pandas as pd
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score
from sklearn.preprocessing import LabelEncoder
from sklearn import preprocessing
from sklearn.model_selection import train_test_split

In [ ]:
pd.set_option("display.max_columns", None)
df = pd.read_csv('val_stats.csv', low_memory = False)
df

,region,name,tag,rating,damage_round,headshots,headshot_percent,aces,clutches,flawless,first_bloods,kills,deaths,assists,kd_ratio,kills_round,most_kills,score_round,wins,win_percent,agent_1,agent_2,agent_3,gun1_name,gun1_head,gun1_body,gun1_legs,gun1_kills,gun2_name,gun2_head,gun2_body,gun2_legs,gun2_kills,gun3_name,gun3_head,gun3_body,gun3_legs,gun3_kills
0,NaN,ShimmyXD,#NA1,Radiant,135.8,992,24.9,0,140,80,161,"1,506","1,408",703,1.07,0.7,29,208.8,59,59.6,Fade,Viper,Omen,Vandal,35,59,5,802,Phantom,33,62,5,220,Classic,36,60,3,147
1,NaN,XSET Cryo,#cells,Radiant,170.3,879,28.3,2,122,94,316,"1,608","1,187",206,1.35,1.0,32,270.6,52,65.8,Chamber,Jett,Raze,Vandal,41,56,3,689,Operator,8,91,0,226,Phantom,32,63,5,137
2,NaN,PuRelittleone,#yoruW,Radiant,147.5,720,24.0,3,117,59,216,"1,115","1,064",267,1.05,0.8,39,227.8,42,65.6,Yoru,Jett,Chamber,Vandal,38,57,4,444,Phantom,36,61,3,231,Operator,8,91,1,102
3,NaN,Boba,#0068,Radiant,178.2,856,37.3,3,83,49,235,"1,134",812,157,1.40,1.0,37,277.0,32,62.8,Jett,Chamber,KAY/O,Vandal,51,47,2,754,Sheriff,48,51,1,48,Phantom,44,56,0,36
4,NaN,i love mina,#kelly,Radiant,149.8,534,24.4,2,71,38,137,869,781,213,1.11,0.8,29,230.9,32,62.8,Jett,Raze,Chamber,Vandal,36,60,4,419,Spectre,21,71,8,65,Operator,8,92,0,64
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85673,LAT,Kazutora,#img0d,Radiant,138.2,342,21.4,0,58,54,56,603,508,296,1.19,0.7,24,210.1,32,76.2,Sova,Viper,Sage,Phantom,26,68,6,190,Vandal,28,69,2,175,Classic,39,59,2,71
85674,LAT,el lobo marino,#uthur,Radiant,182.9,650,30.1,4,77,42,106,885,606,271,1.46,1.0,32,285.8,32,80.0,Viper,Sage,Omen,Phantom,36,60,4,400,Vandal,40,57,3,212,Spectre,33,63,5,139
85675,LAT,p9pzet,#666x,Radiant,158.8,613,30.2,0,70,54,185,919,733,136,1.25,0.9,33,247.9,26,52.0,Chamber,Reyna,Neon,Vandal,46,50,4,373,Phantom,40,56,4,159,Operator,10,89,1,87
85676,LAT,EZ4TGD EnSBuwu,#kmeve,Immortal 3,155.9,132,22.2,0,23,18,19,204,174,101,1.17,0.8,27,235.0,8,66.7,Brimstone,Viper,KAY/O,Vandal,28,67,5,89,Phantom,39,57,3,37,Spectre,27,69,4,17
85677,LAT,Neon,#SSJ,Radiant,164.4,"1,127",20.7,3,136,82,309,"1,822","1,579",536,1.15,0.8,40,253.3,49,50.0,Neon,Raze,Chamber,Vandal,34,63,4,939,Operator,9,88,2,132,Spectre,27,70,2,108

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85678 entries, 0 to 85677
Data columns (total 38 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   region            64813 non-null  object
 1   name              85675 non-null  object
 2   tag               85358 non-null  object
 3   rating            85678 non-null  object
 4   damage_round      85678 non-null  float64
 5   headshots         85678 non-null  object
 6   headshot_percent  85678 non-null  float64
 7   aces              85678 non-null  int64
 8   clutches          85678 non-null  int64
 9   flawless          85678 non-null  int64
 10  first_bloods      85678 non-null  object
 11  kills             85678 non-null  object
 12  deaths            85678 non-null  object
 13  assists           85678 non-null  object
 14  kd_ratio          85678 non-null  float64
 15  kills_round       85678 non-null  float64
 16  most_kills        85678 non-null  int64
 17  score_round       85678 non-null  float64
 18  wins              85678 non-null  int64
 19  win_percent       85678 non-null  float64
 20  agent_1           85678 non-null  object
 21  agent_2           83691 non-null  object
 22  agent_3           80461 non-null  object
 23  gun1_name         85678 non-null  object
 24  gun1_head         85678 non-null  int64
 25  gun1_body         85678 non-null  int64
 26  gun1_legs         85678 non-null  int64
 27  gun1_kills        85678 non-null  object
 28  gun2_name         85678 non-null  object
 29  gun2_head         85678 non-null  int64
 30  gun2_body         85678 non-null  int64
 31  gun2_legs         85678 non-null  int64
 32  gun2_kills        85678 non-null  object
 33  gun3_name         85678 non-null  object
 34  gun3_head         85678 non-null  int64
 35  gun3_body         85678 non-null  int64
 36  gun3_legs         85678 non-null  int64
 37  gun3_kills        85678 non-null  int64
dtypes: float64(6), int64(15), object(17)
memory usage: 24.8+ MB

In [ ]:
x = df[['gun3_kills', 'gun2_kills', 'gun1_kills', 'wins', 'most_kills', 'flawless', 'aces', 'headshots']]
y = df[['clutches']]

In [ ]:
x

,gun3_kills,gun2_kills,gun1_kills,wins,most_kills,flawless,aces,headshots
0,147,220,802,59,29,80,0,992
1,137,226,689,52,32,94,2,879
2,102,231,444,42,39,59,3,720
3,36,48,754,32,37,49,3,856
4,64,65,419,32,29,38,2,534
...,...,...,...,...,...,...,...,...
85673,71,175,190,32,24,54,0,342
85674,139,212,400,32,32,42,4,650
85675,87,159,373,26,33,54,0,613
85676,17,37,89,8,27,18,0,132
85677,108,132,939,49,40,82,3,"1,127"

In [ ]:
x.isnull().sum()

gun3_kills    0
gun2_kills    0
gun1_kills    0
wins          0
most_kills    0
flawless      0
aces          0
headshots     0
dtype: int64

In [ ]:
x.dtypes

gun3_kills     int64
gun2_kills    object
gun1_kills    object
wins           int64
most_kills     int64
flawless       int64
aces           int64
headshots     object
dtype: object

In [ ]:
LE = preprocessing.LabelEncoder()
x['gun1_kills'] = LE.fit_transform(x['gun1_kills'])
x['gun2_kills'] = LE.fit_transform(x['gun2_kills'])
x['headshots'] = LE.fit_transform(x['headshots'])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [ ]:
x.dtypes

gun3_kills    int64
gun2_kills    int64
gun1_kills    int64
wins          int64
most_kills    int64
flawless      int64
aces          int64
headshots     int64
dtype: object

In [ ]:
y

       clutches
0           140
1           122
2           117
3            83
4            71
...         ...
85673        58
85674        77
85675        70
85676        23
85677       136

[85678 rows x 1 columns]

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 40)

In [ ]:
rf_reg = RandomForestRegressor()
rf_reg.fit(x_train, y_train)
rf_predict = rf_reg.predict(x_test)
rf_acc = r2_score(y_test, rf_predict)
print("Accuracy: ", rf_acc)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

Accuracy:  0.9507284486789309